@model ZenithWebSite.Models.JenithEventModel.Activity

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer


@{
    ViewBag.Title = _localizer["Delete"];
}

<h2>@_localizer["Delete"]</h2>

<h3>@_localizer["Are you sure you want to delete this?"]</h3>
<div>
    <h4>@_localizer["Activity"]</h4>
    <hr />
    <div class="dl-horizontal">
        <dt>
            <p>@_localizer["Description"] </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescr)
        </dd>

        <dt>
            <p>@_localizer["Creation Date"] </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@_localizer["Delete"] class="btn btn-default" /> |
            <a asp-action="Index">
                @_localizer["Back to List"]
            </a>
        </div>
    }
</div>
