@model ZenithWebSite.Models.JenithEventModel.Activity

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewBag.Title = _localizer["Details"];
}

<h2>@_localizer["Details"]</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>@_localizer["Description"] </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescr)
        </dd>

        <dt>
            <p>@_localizer["Creation Date"] </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ActivityId">
        @_localizer["Edit"] |
    </a>
    <a asp-action="Index">
        @_localizer["Back to List"]
    </a>
</p>
