@model IEnumerable<ZenithWebSite.Models.JenithEventModel.Activity>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewBag.Title = _localizer["Index"];
}

<h2 class="text-center zenithSociety">@_localizer["List of Activities"]</h2>

<p>
    <a asp-action="Create">
        @_localizer["Create New"]    
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @_localizer["Description"]
        </th>
        <th>
            @_localizer["Creation Date"]
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityId"> |
                    @_localizer["Edit"]
                </a>
                <a asp-action="Details" asp-route-id="@item.ActivityId"> |
                    @_localizer["Details"]
                </a>
                <a asp-action="Delete" asp-route-id="@item.ActivityId"> |
                    @_localizer["Delete"]
                </a>
            </td>
        </tr>
    }

</table>
